.header-background {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color: white;
    padding: 1rem 0;
    height: 200px;
    text-align: center;
    font-weight: 800;
}

.header-background p {
    font-size: 67px;
    word-spacing: 14px;
    margin-top: 11px;
    letter-spacing: 10px;
}

.header-background h3 {
    opacity: 0.8;
    font-size: 21px;
}

.middle-div {
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

.middle-div .text-input {
    margin-left: 10px;
    width: 200px;
    display: inline-block;
}

.contain-textarea {
    margin-top: 10px
}



.svg-contain {
    position: relative;
    margin-top: 15px;
}


/*.svg-contain svg{
      position: relative;
      left: 50%;
      margin-left: -300px
    }*/

.middle-singer{
      padding: 0 40px;
}

.middle-block {
  margin-top: 30px;
    font-family: 'Microsoft YaHei';
}

.middle-block a {
    margin-right: 13px;
    width: 93px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

